<!DOCTYPE html>
<html lang="en" ng-app="cbmApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- compiled CSS --><!--<% styles.forEach( function ( file ) { %>-->
    <link rel="stylesheet" type="text/css" href="<!--<%= file %>-->" /><!--<% }); %>-->
</head>

<body>
    <ul class="nav nav-tabs" ng-controller="MenuController as menuCtrl">
        <li ng-class="{active:menuCtrl.isSelected('home')}"><a href="#/home" ng-click="menuCtrl.setTab('home')">Home</a></li>
        <li ng-class="{active:menuCtrl.isSelected('user')}"><a href="#/user" ng-click="menuCtrl.setTab('user')">Users</a></li>
        <li ng-class="{active:menuCtrl.isSelected('project')}"><a href="#/project" ng-click="menuCtrl.setTab('project')">Projects</a></li>
    </ul>
    
    <div ng-view></div>

    <!-- compiled JavaScript --><!--<% scripts.forEach( function ( file ) { %>-->
    <script type="text/javascript" src="<!--<%= file %>-->"></script><!--<% }); %>-->
    <!--<% if (env === 'dev') { %>-->
    <!-- live reload script only for dev environment -->
    <script src="http://localhost:35729/livereload.js"></script><!--<% }; %>-->
</body>
</html>

