<!DOCTYPE html>
<html lang="en" ng-app="choobsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Choobs App | {{ pageTitle | uppercase }}</title>

    <!-- compiled CSS --><!--<% styles.forEach( function ( file ) { %>-->
    <link rel="stylesheet" type="text/css" href="<!--<%= file %>-->" /><!--<% }); %>-->
</head>

<body>
    <ul class="nav nav-tabs" ng-controller="TabController">
        <li ng-repeat="tab in getTabs()" ng-class="{active:activeTab[tab.href]}">
            <a href="#/{{ tab.href }}"><i class="glyphicon glyphicon-{{ tab.icon }}"></i> {{ tab.title }}</a>
        </li>
    </ul>
    
    <div ng-view></div>

    <!-- compiled JavaScript --><!--<% scripts.forEach( function ( file ) { %>-->
    <script type="text/javascript" src="<!--<%= file %>-->"></script><!--<% }); %>-->
    <!--<% if (env === 'dev') { %>-->
    <!-- live reload script only for dev environment -->
    <script src="http://localhost:35729/livereload.js"></script><!--<% }; %>-->
</body>
</html>

